<html>
<head>
  <meta charset="utf-8">
{{> analytics/widget this }}
{{> style/widget this }}

</head>
<body>
{{#if jobs.length}}
  {{!-- <table>
      <thead>
          <tr>
            <th id="table-header-title">Title</th>
            <th id="table-header-company">Company</th>
            <th id="table-header-arrangement">Arrangement</th>
            <th id="table-header-location">Location</th>
            <th id="table-header-link">Link</th>
          </tr>
      </thead>
      <tbody>
        {{#each jobs}}
          <tr class="type-{{this.attributes.type}}">
            <td class="table-entry-title">{{capitalize this.attributes.title}}</td>
            <td class="table-entry-company">{{this.attributes.company.name}}</td>
            <td class="table-entry-arrangement">{{capitalize this.attributes.arrangement}}</td>
            <td>{{capitalize this.attributes.location}}</td>
            <td class="table-entry-link"><a href="{{add_utm this.links.self}}">Apply Now</a></td>
          </tr>
        {{/each}}
      </tbody>
  </table> --}}

<div class="container jobs-widget">
  <div class="row align-items-center gap-5">
    {{#each jobs}}
      <div class="job-card type-{{this.attributes.type}}">
        <div>
          <div class="row company">
            {{this.attributes.company.name}}
          </div>
          <h3 class="row title">
            {{title_fmt this.attributes.title }}
          </h3>
          <div class="row info">
            <div class="info-item"> {{ this.attributes.arrangement}}</div>
            <div class="info-item"> {{capitalize this.attributes.location}}</div>
          </div>
        </div>
        <div>
          <a href="{{add_utm this.links.self}}" target="_top" class="row link">Apply Now</a>
        </div>
      </div>
    {{/each}}
  </div>

  {{else}}
  <h4 id="no-positions-message">No positions available.</h4>
  {{/if}}
  <p id="powered-by"><a href="https://www.tampadevs.com/" target="_top">Tampa Devs</a> Jobs Widget - Powered by <a href="https://github.com/TampaDevs/api.jobs.tampa.dev" target="_top">Our Code</a> & <a href="https://jobs.tampa.dev/" target="_top">Job Boardly</a></p>

</div>


</body>
</html>
